# Compilación de Maven
target/
*.class
*.jar
*.war

# Archivos de entorno e IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs y reportes temporales
*.log
test-output/
reports/
.DS_Store

